<header class="header-static navbar-sticky navbar-light shadow">
    <!-- Search -->
    <div class="top-search collapse bg-light" id="search-open" data-parent="#search">
      <div class="container">
        <div class="row position-relative">
          <div class="col-md-8 mx-auto py-5">
            <form>
              <div class="input-group">
                <input class="form-control border-radius-right-0 border-right-0" type="text" name="search" autofocus
                  placeholder="Apa yang anda inginkan?">
                <button type="button" class="btn btn-grad border-radius-left-0 mb-0">Cari</button>
              </div>
            </form>
            <p class="small mt-2 mb-0"><strong>contoh :</strong> Diskon, Paket, Promo</p>
          </div>
          <a class="position-absolute top-0 right-0 mt-3 mr-3" data-toggle="collapse" href="#search-open"><i
              class="fas fa-window-close"></i></a>
        </div>
      </div>
    </div>
    <!-- End Search -->

    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <!-- navbar top Left-->
          <div class="d-flex align-items-center">
            <!-- Language -->
            <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownLanguage"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-icon"
                  src="/images/flag/ina.webp" alt=""> Indonesia </a>
            </div>
            <!-- Top info -->
            <ul class="nav list-unstyled ml-3">
              <li class="nav-item mr-3"> <a class="navbar-link" href="#"><strong>Phone:</strong> 0811 - 202 - 4000</a>
              </li>
              <li class="nav-item mr-3"> <a class="navbar-link" href="#"><strong>Email:</strong> <span
                    class="__cf_email__"
                    data-cfemail="89e0e7efe6c9e8fbe4e0e7e8fbece2e8f9ecfbede8e7e8a7eae6e4">[email&#160;protected]</span></a>
              </li>
            </ul>
          </div>

          <!-- navbar top Right-->
          <div class="d-flex align-items-center">
            <!-- Top Account -->
            <div class="dropdown"> <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user mr-2"></i>Akun
              </a>
              <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount"> <a class="dropdown-item"
                  href="https://jamaah.arminarekaperdana.com/site/payment">Masuk</a> </div>
            </div>
            <!-- top link -->
            <ul class="nav">
              <li class="nav-item"> <a class="nav-link" href="/kontak">Kontak</a> </li>
            </ul>
            <!-- top social -->
            <ul class="social-icons">
              <li class="social-icons-item social-facebook m-0"> <a class="social-icons-link w-auto px-2"
                  href="https://web.facebook.com/arminarekaind/"><i class="fab fa-facebook-f"></i></a> </li>
              <li class="social-icons-item social-instagram m-0"> <a class="social-icons-link w-auto px-2"
                  href="https://twitter.com/ArminarekaInd"><i class="fab fa-twitter"></i></a> </li>
              <li class="social-icons-item social-twitter m-0"> <a class="social-icons-link w-auto pl-2"
                  href="https://www.instagram.com/arminarekaind/"><i class="fab fa-instagram"></i></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="index.html"> <img
            src="/images/logo-arp-black.png"> </a>
        <!-- Menu opener button -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-icon"> </span> </button>
        <!-- Main Menu Start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- Menu item 1 Demos-->
            <li class="nav-item"> <a class="nav-link" href="/" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Beranda</a></li>
            <li class="nav-item"> <a class="nav-link" href="/profil" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Profil</a></li>
            <li class="nav-item"> <a class="nav-link" href="/layanan" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Layanan</a></li>
            <li class="nav-item"> <a class="nav-link" href="/berita" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Berita</a></li>
            <li class="nav-item"> <a class="nav-link" href="/galeri" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Galeri</a></li>
            <li class="nav-item"> <a class="nav-link" href="/kontak" id="demosMenu"
                aria-haspopup="true" aria-expanded="false">Kontak</a></li>
            <li class="nav-item"> <a class="nav-link" href="https://jamaah.arminarekaperdana.com/site/jadwal"
                target="_new" id="demosMenu" aria-haspopup="true" aria-expanded="false">Cek Jadwal</a></li>
            <li class="nav-item"> <a class="nav-link" href="https://jamaah.arminarekaperdana.com/site/payment"
                target="_new" id="demosMenu" aria-haspopup="true" aria-expanded="false">Cek Pembayaran</a></li>
            <li class="nav-item"> <a class="nav-link" href="#" id="demosMenu" aria-haspopup="true"
                aria-expanded="false">Kurs : Rp. </a></li>

          </ul>
        </div>
        <!-- Main Menu End -->

        <!-- Header Extras Start-->
        <div class="navbar-nav">
          <!-- extra item Search-->
          <div class="nav-item search border-0 pl-3 pr-0 px-lg-2" id="search"> <a class="nav-link"
              data-toggle="collapse" href="#search-open"><i class="fas fa-search"></i></a> </div>
        </div>
        <!-- Header Extras End-->
      </div>
    </nav>
    <!-- Logo Nav End -->
  </header>